@import './../../../../../assets/styles/constants';

.race-wrapper {

  font-size: 14px;
  padding: 4px;
  border: 1px solid white;
  border-radius: 2px;

  &.highlight {
    background-color: $highlight-color;
  }

}
