@import './../../../../../assets/styles/constants';

.race-wrapper {

  font-size: 18px;
  font-weight: bold;
  padding: 4px;
  border: 1px solid black;
  border-radius: 2px;

  &.highlight {
    background-color: $highlight-color;
  }

}
