<div class="season-wrapper"
  fxLayout="row" fxLayoutWrap="true" fxLayoutAlign="left center"
  [ngClass]="{highlight: highlight}">

  {{year}}

  <div class="image-wrapper" fxFlex="64px">
    <img [src]="champion?.image" *ngIf="champion?.image">
  </div>
  
  <div fxFlex>
    <span *ngIf="season else loadingTemplate">
      <span *ngIf="season.MRData else problemsLoadingTemplate">
        <span *ngIf="champion">
          {{ champion.givenName }}
          {{ champion.familyName }}
        </span>
        <small *ngIf="manufaturer">({{ manufaturer?.name }})</small>
      </span>
    </span>
  </div>
</div>

<ng-template #loadingTemplate>
  Loading...
</ng-template>

<ng-template #problemsLoadingTemplate>
  Problems loading data. Please try again later. If the problem persists, contact the support.
</ng-template>
