<div [ngClass]="{highlight: highlight}">
  {{year}} -

  <span *ngIf="season else loadingTemplate">
    <span *ngIf="season.MRData else problemsLoadingTemplate">
      <span *ngIf="champion">
        {{ champion.givenName }}
        {{ champion.familyName }}
      </span>
      <small *ngIf="manufaturer">({{ manufaturer?.name }})</small>
    </span>
  </span>
</div>

<ng-template #loadingTemplate>
  Loading...
</ng-template>

<ng-template #problemsLoadingTemplate>
  Problems loading data. Please try again later. If the problem persists, contact the support.
</ng-template>
