body {
    min-width: 600px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #3C4252;
    color: white;

    a {
        color: white;
    }
}

.click {
    cursor: pointer;
}